@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    background-color: #293241;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.hidden {
    display: none;
}

/* GRID STYLING */

#game-wrapper {
    display: grid;
    grid-template-rows: 8vw 8vw 8vw;
    grid-template-columns: 8vw 8vw 8vw;
    background-color: #293241;
    border-radius: 15px;
}

.game-item {
    border: 2px solid #e0fbfc;
}

#item-1 {
    border-radius: 15px 0 0 0;
}

#item-3 {
    border-radius: 0 15px 0 0;
}

#item-7 {
    border-radius: 0 0 0 15px;
}

#item-9 {
    border-radius: 0 0 15px 0;
}

#current-item {
    width: 8vw;
    height: 8vw;
    border: 3px solid #e0fbfc;
    border-radius: 15px;
    background-color: #293241;
}

#current-item,
.game-item {
    font-size: 6.5vw;
    font-family: Dosis;
    font-weight: 800;
    color: #e0fbfc;
    display: flex;
    align-items: center;
    justify-content: center;
}

#current-item {
    font-size: 6vw;
}

.transition-class {
    font-size: 5vw;
    transition: font-size 0.5s;
}

.win-class {
    color: #ee6c4d;
}

.lose-class {
    font-size: 4vw;
    transition: font-size 0.5s;
    color: rgba(224, 251, 252, 0.25);
}

/* HEADER STYLING*/

header {
    height: 125px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Dosis;
    font-weight: 600;
    font-size: 25px;
    color: #e0fbfc;
}

/* GAME BOARD STYLING */

#main {
    background-color: #3d5a80;
    height: 75vh;
    width: 65%;
    display: flex;
}

#main-column {
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu-column {
    display: flex;
    flex-direction: column;
    gap: 75px;
    justify-content: center;
}

#current-info-wrapper {
    display: flex;
    align-items: center;
    gap: 2.5vw;
}

#current-info-wrapper h2 {
    font-family: Dosis;
    color: #ee6c4d;
    background-color: #293241;
    width: 11.5vw;
    height: 3.5vw;
    font-size: 1.5vw;
    text-align: center;
    line-height: 3.2vw;
    border-radius: 15px;
    border: 2px solid #e0fbfc;
}

#statistics-wrapper {
    display: flex;
    gap: 5.2vw;
    justify-content: center;
}

#x-statistic,
#o-statistic {
    background-color: #293241;
    height: 3.5vw;
    padding-left: 15px;
    padding-right: 18px;
    line-height: 3.2vw;
    border: 2px solid #e0fbfc;
    border-radius: 15px;
    color: #ee6c4d;
    font-family: Dosis;
    font-size: 1.5vw;
}

#x-span,
#o-span {
    color: #e0fbfc;
}

@keyframes lineAnimation {
    from {
        width: 1%;
    }
    to {
        width: 100%;
    }
}

#line-area {
    width: 22vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

#cross-line {
    height: 4px;
    width: 100%;
    border-radius: 5px;
    background-color: #e0fbfc;
    animation-name: lineAnimation;
    animation-duration: 1s;
}

.winRow1 {
    margin: 4vw 0 0 1.7vw;
}

@media only screen and (max-width: 850px) {
    #main {
        width: 80%;
        height: auto;
        flex-direction: column;
        align-items: center;
        gap: 5vw;
    }
    #game-wrapper {
        grid-template-rows: 14vw 14vw 14vw;
        grid-template-columns: 14vw 14vw 14vw;
        margin-top: 5vw;
    }

    #main-column {
        width: auto;
    }

    #menu-column {
        width: auto;
        flex-direction: row;
        align-items: center;
        margin-bottom: 2.5vw;
        gap: 6vw;
    }

    #statistics-wrapper {
        gap: 2vw;
    }

    #current-info-wrapper h2,
    #x-statistic,
    #o-statistic {
        font-size: 2vw;
        width: 14vw;
        height: 4.5vw;
        line-height: 4vw;
    }

    #x-statistic,
    #o-statistic {
        padding-left: 18px;
    }

    .game-item {
        font-size: 85px;
    }

    .transition-class {
        font-size: 65px;
        transition: font-size 0.5s;
    }
}

@media only screen and (max-width: 700px) {
    #main {
        gap: 7vw;
    }

    #game-wrapper {
        grid-template-rows: 17vw 17vw 17vw;
        grid-template-columns: 17vw 17vw 17vw;
    }

    #current-info-wrapper h2,
    #x-statistic,
    #o-statistic {
        font-size: 2.5vw;
        width: 18vw;
        height: 5vw;
        line-height: 4.5vw;
    }

    #x-statistic,
    #o-statistic {
        padding-right: 15px;
    }
}

@media only screen and (max-width: 600px) {
    #main {
        height: 100vh;
        width: 90%;
        gap: 3.5vw;
    }

    #game-wrapper {
        grid-template-rows: 125px 125px 125px;
        grid-template-columns: 125px 125px 125px;
    }

    #menu-column {
        flex-direction: column;
        gap: 2vw;
    }

    #current-info-wrapper h2,
    #x-statistic,
    #o-statistic {
        font-size: 20px;
        width: 160px;
        height: 40px;
        line-height: 35px;
    }

    #x-statistic,
    #o-statistic {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 0;
    }

    .game-item {
        font-size: 90px;
    }

    .transition-class {
        font-size: 70px;
        transition: font-size 0.5s;
    }
}
